In [17]:
#First, import panda as pd

In [5]:
import pandas as pd

In [14]:
#Import the two CSV files as dataframes

In [15]:
df1 = pd.read_csv('C:/Users/micka/nile Mickael/Liste1_CVok.csv', delimiter=";")
df2 = pd.read_csv('C:/Users/micka/nile Mickael/Liste2_MCok.csv', delimiter=";")

In [38]:
#Explore the dataframes

In [16]:
df1.head(10)

,email,status,free,disposable,role,ok_for_all,protected,did_you_mean,details
0,1a@gmail.com,ok,0,0,0,0,0,NaN,NaN
1,2a@gmail.com,ok,0,0,0,0,0,NaN,NaN
2,3a@gmail.com,ok,0,0,0,0,0,NaN,NaN
3,4a@gmail.com,ok,1,0,0,0,0,NaN,NaN
4,5a@gmail.com,risky,0,0,0,1,0,NaN,low quality
5,6a@gmail.com,invalid,0,0,0,0,0,NaN,email error
6,7a@gmail.com,ok,0,0,0,0,0,NaN,NaN
7,8a@gmail.com,ok,1,0,0,0,0,NaN,NaN
8,9a@gmail.com,risky,0,0,0,1,0,NaN,low quality
9,10a@gmail.com,ok,1,0,0,0,0,NaN,NaN

In [18]:
df2.head(10)

,Pr√©nom,Nom,Email,Utilisation des informations,MEMBER_RATING,OPTIN_TIME,OPTIN_IP,CONFIRM_TIME,CONFIRM_IP,LATITUDE,...,GMTOFF,DSTOFF,TIMEZONE,CC,REGION,LAST_CHANGED,LEID,EUID,NOTES,TAGS
0,1,a@gmail.com,1a@gmail.com,NaN,5,27/05/2015 19:16,NaN,27/05/2015 19:16,NaN,488300000.0,...,1,2,NaN,fr,idf,27/05/2015 19:16,292756493,787b0b65c2,NaN,NaN
1,2,a@gmail.com,2a@gmail.com,NaN,2,24/08/2016 10:59,NaN,24/08/2016 10:59,NaN,488593000.0,...,1,2,NaN,fr,idf,24/08/2016 10:59,298733593,5c8c555693,NaN,NaN
2,3,a@gmail.com,3a@gmail.com,NaN,2,27/05/2015 19:17,NaN,27/05/2015 19:17,NaN,488900000.0,...,1,2,NaN,fr,idf,20/03/2020 14:22,292764305,8636fed5e0,NaN,NaN
3,4,a@gmail.com,4a@gmail.com,NaN,5,23/03/2018 16:42,NaN,23/03/2018 16:42,77157207129,488200000.0,...,1,2,europe/paris,fr,idf,12/10/2020 18:10,298752513,9d15a7ac6c,NaN,NaN
4,5,a@gmail.com,5a@gmail.com,NaN,5,15/06/2016 16:59,NaN,15/06/2016 16:59,10919090156,482100000.0,...,1,2,europe/vienna,at,9,22/05/2019 09:04,298732753,23fbbb4e12,NaN,NaN
5,6,a@gmail.com,6a@gmail.com,NaN,3,12/10/2021 17:52,3771785,12/10/2021 17:56,3771785,488100000.0,...,1,2,europe/paris,fr,idf,13/10/2021 07:29,298782496,5966adf057,NaN,NaN
6,7,a@gmail.com,7a@gmail.com,NaN,2,30/08/2016 09:34,NaN,30/08/2016 09:34,10919090156,488000000.0,...,1,2,europe/paris,fr,idf,30/08/2016 09:34,298736653,b17575bc22,NaN,NaN
7,8,a@gmail.com,8a@gmail.com,NaN,2,27/05/2015 19:18,NaN,27/05/2015 19:18,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,27/05/2015 19:18,292784773,0b6bf84033,NaN,NaN
8,9,a@gmail.com,9a@gmail.com,J'accepte de recevoir les informations de nile,5,14/12/2020 15:51,9218497104,14/12/2020 15:56,9218497104,427100000.0,...,1,2,europe/paris,fr,occ,14/12/2020 15:56,298775432,9d5a6dcbde,NaN,NaN
9,10,a@gmail.com,10a@gmail.com,J'accepte de recevoir les informations de nile,2,08/02/2023 22:31,9217010888,09/02/2023 08:11,9217010888,454300000.0,...,1,2,europe/paris,fr,ara,09/02/2023 08:11,298789932,165fe27694,NaN,NaN

In [43]:
#Clean df2 from the columns that are not important

In [19]:
df2_cleaned = df2.drop (['Pr√©nom', 'Nom', 'Utilisation des informations', 'OPTIN_TIME', 'OPTIN_IP', 'CONFIRM_TIME', 'CONFIRM_IP', 'LATITUDE', 'LONGITUDE', 'GMTOFF', 'DSTOFF', 'TIMEZONE', 'CC', 'REGION', 'LEID', 'EUID', 'NOTES', 'TAGS' ], 1)

In [45]:
#Inspect the new dataframe df2_cleaned

In [20]:
df2_cleaned.head(10)

           Email  MEMBER_RATING      LAST_CHANGED
0   1a@gmail.com              5  27/05/2015 19:16
1   2a@gmail.com              2  24/08/2016 10:59
2   3a@gmail.com              2  20/03/2020 14:22
3   4a@gmail.com              5  12/10/2020 18:10
4   5a@gmail.com              5  22/05/2019 09:04
5   6a@gmail.com              3  13/10/2021 07:29
6   7a@gmail.com              2  30/08/2016 09:34
7   8a@gmail.com              2  27/05/2015 19:18
8   9a@gmail.com              5  14/12/2020 15:56
9  10a@gmail.com              2  09/02/2023 08:11

In [53]:
#Now, rename the column "Email" to "email" on df2_cleaned

In [21]:
df2_cleaned = df2_cleaned.rename(columns={'Email': 'email'})
df2_cleaned.sample(1)

              email  MEMBER_RATING      LAST_CHANGED
118  119a@gmail.com              5  27/05/2015 19:17

In [49]:
#Now it's time to merge the two dataframes and export to CSV

In [22]:
merged_df = pd.merge(df1, df2_cleaned, on='email')
merged_df.to_csv('merged_Listes.csv', index=False)

In [23]:
merged_df.sample(10)

,email,status,free,disposable,role,ok_for_all,protected,did_you_mean,details,MEMBER_RATING,LAST_CHANGED
2331,2332a@gmail.com,risky,0,0,0,1,0,NaN,low quality,5,27/05/2015 19:17
5695,5696a@gmail.com,risky,0,0,0,1,0,NaN,low quality,4,27/04/2018 18:11
5327,5328a@gmail.com,invalid,0,0,0,0,0,NaN,email error,2,27/05/2015 19:18
5715,5716a@gmail.com,ok,0,0,0,0,0,NaN,NaN,3,26/04/2022 16:16
3350,3351a@gmail.com,ok,0,0,0,0,0,NaN,NaN,2,28/03/2018 15:46
3610,3611a@gmail.com,invalid,1,0,0,0,0,NaN,email error,5,15/11/2021 14:17
3307,3308a@gmail.com,ok,0,0,0,0,0,NaN,NaN,5,27/04/2018 09:05
7125,7126a@gmail.com,ok,0,0,0,0,0,NaN,NaN,2,27/05/2015 19:18
2981,2982a@gmail.com,risky,0,0,0,1,0,NaN,low quality,5,10/11/2018 07:44
3412,3413a@gmail.com,ok,0,0,0,0,0,NaN,NaN,4,27/05/2015 19:16